@page "/deposito"
<h1>Depósito</h1>
<a>Descripcion depósito</a>
<hr />

<div class="row">
    <div class="col-md-4 col-xl-6">
        <div class="card text-white bg-primary">
            <div class="card-header">Viajes</div>
            <div class="card-body">
                <p class="card-text">Descripción de viajes</p>
                <a href="viajesdepo" class="btn btn-dark" style="float: right;">Ver viajes</a>
            </div>
        </div>
    </div>
</div>

