@page "/"
@inject NotificationService NotificationService
<PageTitle>SIGM</PageTitle>

<h1><img width="200px" src="/images/favicon.png" />Sistema Integral de Gestión de Mercadería</h1>

<br />
<br />
<p><strong>Descripción (*)</strong></p>

