@page "/trafico"
<h1>Tráfico</h1>
<a>Gestión de tráfico</a>
<hr />

<div class="row">
    <div class="col-md-4 col-xl-6">
        <div class="card text-white bg-primary">
            <div class="card-header">Viajes</div>
            <div class="card-body">
                <p class="card-text">Descripción de viajes</p>
                <a href="viajes" class="btn btn-dark" style="float: right;">Ver viajes</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xl-6">
        <div class="card text-white bg-primary">
            <div class="card-header">Viajes en deposito</div>
            <div class="card-body">
                <p class="card-text">Descripción</p>
                <a href="edicionviajes" class="btn btn-dark" style="float: right;">Ver viajes</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-xl-6">
        <div class="card text-white bg-primary">
            <div class="card-header">Viajes para confirmar</div>
            <div class="card-body">
                <p class="card-text">Descripción</p>
                <a href="confirmaviajes" class="btn btn-dark" style="float: right;">Ver viajes</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xl-6">
        <div class="card text-white bg-primary">
            <div class="card-header">Viajes confirmados</div>
            <div class="card-body">
                <p class="card-text">Descripción</p>
                <a href="confirmados" class="btn btn-dark" style="float: right;">Ver viajes</a>
            </div>
        </div>
    </div>
</div>

